/* header and menu*/
header{
    background: #191919;
    padding: 8px 9px;
    color: #fff;
}

.menu{line-height: 38px;}

#field{
    min-height: 900px;
    text-align: center;
    height: 100%;
}

.blue{
	background: rgba(8, 70, 94, 0.61);
}
	.blue h2{
		color: #ffffff;
	}

.img-nation img{
	margin-top: 15px;
    margin-bottom: 13px;
    height: 70px;
}

.red{
	background: rgba(117,39,44,0.5);
}
	.red h2{
		color: #E63636;
	}


/* cards */
.card-champ{
    background: #fff;
    border-radius: 2px;
    margin-bottom: 14px;
}
	.card-champ p{
		margin-bottom: 0px;
	    padding-bottom: 3px;
	    margin-top: 1px;
	}

/* buttons */
#start{
	background: #353535;
    font-size: 15px;
    border: 1px solid #FFF;
    border-radius: 3px;
    cursor: pointer;
    padding: 10px 20px;
    color: #fff;	
}
.btn{
    padding: 10px 20px;
    border-radius: 2px;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    border: none;
    font-size: 20px;	
}
.btn-red{background: #E63636;}
.btn-blue{background: #08435D;}

/* chat */
.chat{
	padding-right: 0; 
}
#b-chat{
	background: rgba(31,31,31,0.5);
	color: #ffffff;
}
.box-chat{
    min-height: 800px;
    padding: 2px 7px;
    height: 100%;
}
	.box-chat ul{
		width: 100%;
		padding: 0px;
	}
		.box-chat ul li{
		    text-align: right;
		    margin-top: 9px;
		    margin-right: 5px;
		}
	.box-chat span{
		font-weight: bold;
	}

.box-join{
	background: rgba(17, 17, 17, 0.69);
    margin: 0px;
    padding: 11px 5px;
}
	.box-join p{margin:0px;}
.box-text{
    padding: 10px;
    background: #EAEAEA;
    box-shadow: 1px 1px 2px #BBBBBB;	
}
	.box-text textarea{
	    width: 100%;
	    border: none;
	    background: #EAEAEA;

	}

.wrapper{
	position: absolute;
    height: 100%;
    width: 100%;
    top: 50%;	
}
.box-start{
	text-align: center;
}

.input-start{
	padding: 10px 1px;
    border-radius: 3px;
    background: rgba(24, 36, 36, 0.55);
    border: 1px solid rgba(156, 156, 156, 0.47);
    font-size: 17px;
    text-align: center;
    color: #ffffff;
}
.select-start{
	background: rgba(24, 36, 36, 0.55);
    padding: 0 0 0 41px;
    border: 1px solid rgba(156, 156, 156, 0.47);
    width: 160px;
    color: #ffffff;
    font-size: 17px;
    border-radius: 3px;
    text-align: center;
    height: 42px;
}

.input-start::-webkit-input-placeholder,.select-start::-webkit-input-placeholder {
    color: #ffffff;
}
.input-start:-moz-placeholder {
    color: #ffffff;

}
.input-start::-moz-placeholder {
    color: #ffffff;

}

.box-layer{
	background: rgba(17, 17, 17, 0.67);
    height: 294px;
    position: absolute;
    top: 30%;
    transform: rotate(-5deg);
    width: 4000px;
    left: -54px;
}
.enter{
	color: #EF7F3C;
    font-weight: bold;
    font-size: 13px;
    margin-top: 7px;
}